@font-face {
  font-family: "roboto";
  src: url("./assets/font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "fancy";
  src: url("./assets/font/PlayfairDisplay-Regular.ttf") format("truetype");
}

$color: rgb(50, 87, 159);
* {
  font-family: "roboto";
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "fancy";
}
h2 {
  font-size: 1.7rem;
}
html {
  overflow: hidden;
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: relative;
  overflow-x: hidden;
}
.box-shadow {
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  transition: all 0.1s ease-in-out;
}
.icon:hover {
  transform: scale(1.2);
}
