section {
  width: 100%;
  max-width: 1700px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 50px;
  box-sizing: border-box;
  .grid {
    flex: 1 1 auto;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    .project-container {
      display: flex;
      flex-direction: column;
      max-width: 450px;
      overflow: hidden;
      .project-image {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
      .text-container {
        .project-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        padding: 16px;

        .icon.external-link {
          height: 1.55rem;
          width: 1.55rem;
        }
      }
    }
  }
}
.project-container {
  transition: all 0.1s ease-in-out;
}
.project-container:hover {
  transform: scale(1.02);
}
